################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject/obj
/TestProject/bin/Debug/net5.0
/HelloWorld/obj/Debug/net5.0
/HelloWorld/bin/Debug/net5.0
/.vs/HelloWorld/DesignTimeBuild
